/* General */
:root {
  --primary: #bdbdbd;
  --p_dark: #8d8d8d;
  --p_light: #efefef;

  --secondary: #9fa8da;
  --s_dark: #6f79a8;
  --s_light: #d1d9ff;
}

body{
  background-color: var(--primary);
  color: #424242;
  font-family: Lexend Deca, sans-serif;
}

button{
  padding: 10px;
  margin: 10px;
  background-color: var(--secondary);
  border-radius: 5px;
  border: 0;
  font-size: 1.2em;
}

button:enabled:hover{
  background-color: var(--s_dark);
  cursor: pointer;
}

.evaluatorTitle{
  font-size: 2em;
  text-align: center;
  padding: 10px
}

.mainContainer{
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  text-align: center;
  /*background-color: #ffffff;*/
}

.contentContainer{
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: var(--p_light);
  border-radius: 15px;
}

.paintingContent{
  max-width:100%;
  max-height: 50vh;
  height:auto;
}

.audioContent{
  width:100%;
  height:auto;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--s_dark));
}

.videoContent{
  max-width:100%;
  max-height: 60vh;
  height:auto;
}

.questionContainer{
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: var(--p_light);
  border-radius: 15px;
}

.answerForm{
  margin: 10px;
}

.answerForm label{
  display:inline-block;
  text-align:center;
  margin:0 1.5em;
}
.answerForm label input[type="radio"] {
  display:block;
  margin:0.5em auto;
}

.confirmationContainer{
  display: none;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: var(--p_light);
  border-radius: 15px;
}

.thankYouTitle{
  font-size: 1.5em;
  text-align: center;
  padding: 10px
}

.thankYouMsg{
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
}

.progressBar{
  width: 0;
  height: 24px;
  background-color: var(--s_light);
  border-radius: 15px;
}

.questionId{
  margin: 10px;
  font-size: 0.8em;
  position: fixed;
  left: 0;
  bottom: 0;
}