doctype html
head
    title Evaluator
    link(rel='stylesheet' type='text/css' href='/css/css.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lexend Deca')
    //favicon from https://iconos8.es/icon/RyzGypFMo2ly/van-gogh
    link(rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png")
    link(rel="manifest" href="manifest/site.webmanifest")
    link(rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
script(src='/js/jquery-3.6.0.min.js')
script(src='/controllers/end.js')
script.
    $(document).ready(() => {
        initClient();
    });
#evaluatorTitle.evaluatorTitle Evaluator
#mainContainer.mainContainer
    #contentContainer.contentContainer
        .endTitle The end!
        .endText40vh40vh
            | Congratulations! You've reached the end of the evaluator. :)